* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}
/* 排版 */
body {
  display: flex;
  flex-direction: column;
}

a {
  color: #262626;
  text-decoration: none;
}

section:nth-child(1) {
  padding: 0 6.5%;
}

.search-symbol{
  margin-right: 2vw;
  cursor: pointer;
}

/* 手機板選單 */

label{
  width: 100%;
  background-image: url('./圖片庫/list.png');
  display: none;
  cursor: pointer;
  background-repeat: no-repeat;
}

input{
  display: none;
  cursor: pointer;
}

section div  .mobile-menu-section{
  width: 100%;
  top:0px;
  left: 0px;
  position: absolute;
  padding: unset;
}

.mobile-menu{
  display: none;
}



@media screen and (max-width:859px) {
  section div nav #section1_logo{
    position: relative;
    left:36.5vw;
  }
  .search-symbol{
   position:absolute;
   left:50px;
  }
  #section1-divR ul li .log-in-pic{
    position:relative;
    left:9vw;
  }
  #section1-divR ul .carcar{
    position: relative;
    left:8vw;
  }
  label{
    width: 100px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left:15px;
    top:2.5vh;
  }
  #mobile-list:checked+label {
    width: 15px;
    background-image: url('./圖片庫/x2.svg');
    background-repeat: no-repeat;
    position: absolute;
    right: 82.5vw;
    top: 2.5vh;
    cursor: pointer;
  }
  .mobile-menu{
    /* display: block; */
    position: absolute;
    list-style-type: none;
    background-color: #f2f2f2;
    top: 58px;
    /* left:-20px; */
    z-index: 55;
    width: 100%;
    font-size: 0.95rem;
    }
    #mobile-list:checked~section .mobile-menu{
      display: block;
      overflow-x: hidden;
    }

    #mobile-list:checked~section .mobile-menu li{
      border-bottom: 1px solid rgba(0, 0, 0, .1);
      padding: 15px ;
      height: 60px;
    }
  
  
}
@media screen and (max-width:599px) {
  section div nav #section1_logo{
    left:35.5vw;
  }
  .search-symbol{
    position:absolute;
   left:50px;
  }
  #section1-divR ul li .log-in-pic{
    position:relative;
    left:6vw;
  }
  #section1-divR ul .carcar{
    position: relative;
    left:4vw;
  }
  label{
    width: 100px;
    height: 20px;
    display: inline-block;
    position: absolute;
    left:15px;
    top:2.5vh;
  }
  #mobile-list:checked+label {
    content: '';
    width: 15px;
    background-image: url('./圖片庫/x2.svg');
    background-repeat: no-repeat;
    position: absolute;
    right: 82.5vw;
    top: 2.5vh;
  }
  #mobile-list:checked+label::before{
    display: none;
  }

  
}


.search-symbol:before{
  content:"搜尋";
}
.carcar:before{
  width: 50px;
  content:"購物車";
}
.carcar:after{
  width: 40px;
  content:"登入";
}

#section1-divR .shopping-car{
  width: 18px;
}

@media screen and (max-width: 1080px) {
  section:nth-child(1) {
    padding: 0 3%;
  }
}

section:nth-child(1) > div {
  display: flex;
}

section:nth-child(1) nav {
  display: flex;
  width: 76%;
}

section:nth-child(1) nav div {
  display: flex;
  align-items: center;
}

section:nth-child(1) nav ul {
  display: flex;
  height: 100%;
  font-size: 0.8rem;
  list-style-type: none;
}

section:nth-child(1) nav ul li {
  display: block;
  height: 48px;
}

section:nth-child(1) nav ul li a {
  display: inline-block;
  padding: 20px 0px ;
  margin-right: 1.5vw;
}

#section1-divR ul {
  display: flex;
  list-style-type: none;
}

#section1-divR ul .omg{
  margin-right: 1vw;
  font-size: 0.8rem;
  padding-top: 18px;
}

#section1-divR ul li .log-in-pic{
  padding-top: 10px;
  margin-left: -0.5vw;
  cursor: pointer;
}

#section1-divR ul li button {
  border: unset;
  background-color: #fff;
  cursor: pointer;
}

section:nth-child(2) img {
  width: 100%;
  display: none;
}

@media screen and (max-width:1750px) and (min-width:1541px) {
  #section1-divR ul .omg{
    margin-right: 0.5vw;
  }
}

@media screen and (max-width:1540px) and (min-width:1400px) {
  #section1-divR ul li .log-in-pic{
    margin-left: unset;
  }
  #section1-divR ul .all-microsoft{
    width: 110px;
  }
  #section1-divR ul .wtf{
    width: 90px;
  }
  #section1-divR ul .wtf2{
    width: 60px;
  }
}

@media screen and (max-width:1399px) and (min-width:1084px) {
  #section1-divR ul li .log-in-pic{
    margin-left: unset;
  }
  #section1-divR ul .all-microsoft{
    width: 110px;
  }
  #section1-divR ul .wtf{
    width: 30px;
  }
  #section1-divR ul .wtf2{
    width: 30px;
  }
  .search-symbol:before{
    content:" ";
  }
  .carcar:before{
    width: 50px;
    content:" ";
  }
  .carcar:after{
    width: 40px;
    content:" ";
  }
  
}

@media screen and (max-width:1083px) and (min-width:860px) {
  #section1-divR ul li .log-in-pic{
    margin-left: unset;
  }
  #section1-divR ul .all-microsoft{
    width: 110px;
  }
  #section1-divR ul .wtf{
    width: 30px;
  }
  #section1-divR ul .wtf2{
    width: 30px;
  }
  .search-symbol:before{
    content:" ";
  }
  .carcar:before{
    width: 50px;
    content:" ";
  }
  .carcar:after{
    width: 40px;
    content:" ";
  }
  
}

@media screen and (max-width:859px) {
  section:nth-child(1) nav div {
    display: none;
}
.search-symbol:before{
  content:" ";
}
.carcar:before{
  width: 50px;
  content:" ";
}
.carcar:after{
  width: 40px;
  content:" ";
}
#section1-divR ul .all-microsoft{
  display: none;
}
}

#section1__sitemap {
  position: absolute;
  display: flex;
  display: none;
  flex-direction: column;
  z-index: 99;
  top: 53px;
  left: 20vw;
  font-size: 0.8rem;
}

#section1__sitemap div {
  display: flex;
  background-color: #f2f2f2;
  border: 0.5px solid #f3f3f5;
  padding-right: 3vw;
}

#section1__sitemap div ul {
  list-style-type: none;
  margin: 2vh 2vw;
}

#section1__sitemap div ul li {
  margin-bottom: 3vh;
}

#section1__sitemap .section1__sitemap-borderb {
  background-color: #e6e6e6;
  border-bottom: 2px solid black;
  width: 100%;
}

#section1__sitemap .section1__sitemap-borderb p {
  margin: 1vh auto;
}

@media screen and (min-width: 1400px) {
  section:nth-child(2) .img-original {
    display: block;
  }
  #section5-bg .img-original {
    display: block;
  }
}

@media screen and (min-width: 860px) and (max-width: 1050px) {
  section #section1__sitemap {
    left: 5vw;
  }

  section #section1__sitemap div {
    flex-wrap: wrap;
  }

  section #section1__sitemap div ul {
    margin: 2vh 3vw;
    flex: unset;
  }

}

@media screen and (min-width: 1051px) and (max-width: 1250px) {
  section #section1__sitemap {
    left: 5vw;
  }

  section #section1__sitemap div {
    flex-wrap: wrap;
  }

  section #section1__sitemap div ul {
    margin: 2vh 3vw;
    flex: 1 1 120px;
  }
}

@media screen and (min-width: 1251px) and (max-width: 1440px) {
  section #section1__sitemap {
    left: 5vw;
  }

  section #section1__sitemap div {
    flex-wrap: wrap;
  }

  section #section1__sitemap div ul {
    margin: 2vh 3vw;
    flex: 1 1 100px;
  }
}

@media screen and (min-width: 1080px) and (max-width: 1439px) {
  #section9 #section9-lang {
    width: 40vw;
  }
}

@media screen and (min-width: 1084px) and (max-width: 1399px) {
  section:nth-child(2) .img-xl {
    display: block;
  }
  #section5-bg .img-xl {
    display: block;
  }
  #section5-bg #section5-bg-div h2 {
    font-size: 1.8rem;
  }
  #section6 div h2 {
    font-size: 1.8rem;
  }

  #section6 div a h3{
    font-size: 1.5rem;
    margin-bottom: 1vh;
  }
  #section6{
    margin-bottom: 3vh;
  }
  #section6 div h2{
    padding-left: 0.9vw;
  }
}

@media screen and (max-width: 1399px) {
  .div-relative .section2-text {
    left: 9%;
    width: 30.5%;
  }
  .div-relative .section2-text h1 {
    font-weight: 600;
    font-size: 1.8rem;
  }
}

@media screen and (max-width: 1083px) {
  .div-relative .section2-text h1 {
    font-size: 1.5rem;
  }

  #section6 .section6-article h2{
    margin: unset;
    font-size: 1.5rem;
  }
  #section6 .section6-set h2 {
    font-size: 1.5rem;
    margin-bottom: 0.5vh;
  }
}

@media screen and (min-width: 860px) and (max-width: 1083px) {
  section:nth-child(2) .img-md {
    display: block;
  }
  section:nth-child(2) .section2-text {
    position: relative;
    left: 0px;
    top: 0px;
    width: 97.5%;
    margin: -3rem auto 0px;
    padding: 4.8vh 4.3vw;
    box-shadow: 0 0.0625rem 0.125rem rgb(0 0 0 / 11%),
      0 0.1875rem 0.4375rem rgb(0 0 0 / 13%);
    background-color: #fff;
  }

  .section2-text #section2-a {
    display: block;
    width: 162px;
  }
  section:nth-child(2) .section2-text p {
    margin: 1.2vh 0vh 1vh;
  }

  #section4 {
    padding: 0px 0.1%;
    max-width: 1600px;
  }

  section:nth-child(4) .section4-oops {
    flex-wrap: wrap;
    width: 100%;
  }

  section:nth-child(4) .section4-oops > div {
    flex: 1 1 300px;
  }

  section:nth-child(4) .section4-oops > div img {
    width: 47vw;
  }

  section:nth-child(5) #section5-bg {
    padding: unset;
  }

  #section5-bg .img-md {
    display: block;
  }
  #section5-bg #section5-bg-div {
    position: relative;
    left: 0px;
    top: 0px;
    width: 97.5%;
    margin: -3.5rem auto 8vh;
    padding: 5vw;
    box-shadow: 0 0.0625rem 0.125rem rgb(0 0 0 / 11%),
      0 0.1875rem 0.4375rem rgb(0 0 0 / 13%);
    background-color: #fff;
  }

  #section5-bg #section5-bg-div h2 {
    font-size: 1.5rem;
    margin-bottom: 1vh;
  }

  #section5-bg #section5-bg-div p {
    margin-bottom: 3.5vh;
  }

  #section6 {
    padding: 0.5vw;
  }

  .section6-set {
    flex-wrap: wrap;
  }

  #section6 div a h4 {
    margin-top: 1.5vh;
    margin-bottom: 0.6vh;
  }

  #section6 div a h3 {
    font-size: 1.3rem;
    margin-bottom: 1vh;
  }
  .section6-set > div {
    flex: 1 1 100px;
  }

  #section6 .section6-set > div {
    margin: 2vh 0.8vw;
  }

  .section6-set div img {
    width: 47vw;
  }

  body #section7__about {
    margin: 3vh 0vw 10vh 1.025vw;
  }

  #section8 .section8-footer {
    flex-wrap: wrap;
    margin: 1vh 0.5vw;
    width: unset;
  }

  section .section8-footer div {
    flex: 1 1 200px;
    margin: 2vh 4vw;
  }

  #section8 .section8-footer div ul {
    width: unset;
  }

  #section9 {
    padding: 1vh 3vw;
  }

  #section9 #section9-lang {
    width: 30vw;
  }
}

@media screen and (min-width: 540px) and (max-width: 859px) {
  section:nth-child(2) .img-xs {
    display: block;
  }
  section:nth-child(2) .section2-text {
    position: relative;
    left: 0px;
    top: 0px;
    width: 95%;
    margin: -3rem auto 0px;
    padding: 5vw;
    box-shadow: 0 0.0625rem 0.125rem rgb(0 0 0 / 11%),
      0 0.1875rem 0.4375rem rgb(0 0 0 / 13%);
    background-color: #fff;
  }
  #section4 {
    padding: 0px 1%;
  }

  section:nth-child(4) .section4-oops {
    flex-wrap: wrap;
    width: 100%;
  }

  section:nth-child(4) .section4-oops > div {
    flex: 1 1 200px;
  }

  section:nth-child(5) #section5-bg {
    padding: unset;
  }

  #section5-bg .img-xs-2 {
    display: block;
  }
  #section5-bg #section5-bg-div {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    margin: 0vh auto 4vh;
    padding: 5vh 1vw;
    background-color: #fff;
  }

  #section5-bg #section5-bg-div h2 {
    font-size: 1.5rem;
    margin-bottom: 1vh;
  }

  #section5-bg #section5-bg-div p {
    margin-bottom: 3.5vh;
  }

  #section6 {
    padding: 0.5vw;
  }

  .section6-set {
    flex-wrap: wrap;
  }

  .section6-set > div {
    flex: 1 1 200px;
  }

  #section6 .section6-set div a h3{
    font-size: 1.3rem;
    margin-bottom: 1vh;
  }


  .section6-set div img {
    width: 45vw;
  }

  #section6 .section6-oops-2{
    height:1vh;
  }

  body #section7__about{
    margin: 3vh 0vw 10vh 1.5vw;
  }

  #section8 .section8-footer {
    flex-wrap: wrap;
    margin: 1vh 0.5vw;
    width: unset;
  }

  section .section8-footer div {
    flex: 1 1 120px;
    margin: 2vh 4vw;
  }

  #section8 .section8-footer div ul {
    width: unset;
  }

  #section9 {
    padding: 1vh 5vw;
    flex-direction: column;
  }

  #section9 #section9-lang {
    margin-bottom: 2.5vh;
  }
}
/* @media screen and (max-width: 939px) and (min-width: 1083px) {
  #section4 {
    padding: unset;
  }
}*/

@media screen and (max-width: 859px) and (min-width: 564px) {
  #section6 .section6-set div {
    margin:1.5vh 1vw;
  }

}

@media screen and (max-width: 563px) and (min-width: 540px) {
  #section6 .section6-set div{
    margin:1.5vh 0.8vw;
  }
}

@media screen and (max-width: 940px) and (min-width: 860px) {
  #section6 .section6-set > div {
    margin: 2vh 0.5vw;
  }
} 


@media screen and (max-width: 539px) {
  section:nth-child(2) .img-mobile {
    display: block;
  }
  section:nth-child(2) .section2-text {
    position: relative;
    left: 0px;
    top: 0px;
    width: 95%;
    margin: -3rem auto 0px;
    padding: 4vw;
    box-shadow: 0 0.0625rem 0.125rem rgb(0 0 0 / 11%),
      0 0.1875rem 0.4375rem rgb(0 0 0 / 13%);
    background-color: #fff;
  }
  #section4 {
    padding: 0px 1%;
  }

  section:nth-child(4) .section4-oops {
    flex-wrap: wrap;
    width: 100%;
  }

  section:nth-child(4) .section4-oops > div {
    flex: 1 1 400px;
  }

  section:nth-child(4) .section4-oops > div img {
    width: 92vw;
    margin: 0vh 0.5vw 0.5vh;
  }

  body #section4 .section4-oops div h4 {
    margin: 0.75vh 0vw 0.5vh 0.5vw;
  }

  .section4-oops .section4-space {
    height: 4vh;
  }
  section:nth-child(5) #section5-bg {
    padding: 10vh 1vw;
  }
  #section5-bg .img-xs {
    display: block;
  }
  #section5-bg #section5-bg-div {
    position: relative;
    left: 0px;
    top: 0px;
    width: 100%;
    margin: 0vh auto 5vh;
    padding: 5vh 2vw;
    box-shadow: unset;
    background-color: #fff;
  }
  section:nth-child(5) #section5-bg {
    padding: unset;
  }
  #section5-bg #section5-bg-div h2 {
    font-size: 1.5rem;
    margin-bottom: 1vh;
  }

  #section5-bg #section5-bg-div p {
    margin-bottom: 3.5vh;
  }

  #section6 .section6-article h2 {
    padding-left: 1.8vw;
  }

  #section6 .section6-set div a h3{
    font-size: 1.3rem;
    margin-bottom: 1vh;
    margin-top: 1vh;
  }

  #section6 {
    padding: 1vw;
  }

  #section6 .section6-set>div{
    margin :1vh 2vw 4vh;
  }

  .section6-set {
    flex-wrap: wrap;
  }

  .section6-set > div {
    flex: 1 1 400px;
  }

  .section6-set div img {
    width: 92vw;
  }

  body #section7__about{
    margin:1vh 0vw 8vh 2.5vw;
  }

  #section7__about ul li {
    margin :0vh 1.5vw;
  }

  #section8 .section8-footer {
    flex-wrap: wrap;
    margin: 1vh 0.5vw;
    width: unset;
  }

  section .section8-footer div {
    flex: 1 1 400px;
    margin: 2vh 4vw;
  }

  #section8 .section8-footer div ul {
    width: unset;
  }

  #section9 {
    padding: 1vh 5vw;
    flex-direction: column;
  }

  #section9 #section9-lang {
    margin-bottom: 2.5vh;
  }
}

section:nth-child(2) {
  position: relative;
}

.section3-arrow-div {
  display: flex;
  justify-content: center;
  margin-bottom: 3vh;
}

.div-relative {
  position: relative;
  width: 100%;
}

.section2-text {
  position: absolute;
  top: 32%;
  left: 10.5%;
  width: 29.5vw;
}

@media screen and (max-width: 859px) and (min-width: 540px) {
  section:nth-child(2) .section2-text {
    width: 100%;
    margin: 0px;
    padding: 2.5vh 3.5vw;
  }
  section:nth-child(2) .section2-text p {
    margin: 1vh 0vh;
  }
}

@media screen and (max-width: 539px) {
  section:nth-child(2) .section2-text {
    width: 100%;
    margin: 0px;
  }
}

.section2-text h4 {
  background: #fff;
  color: #950c17;
  text-align: center;
  width: 70px;
  padding: 4px;
}

.section2-text h1 {
  margin-top: 0.6vh;
  font-size: 2.3rem;
  font-weight: 500;
}

.section2-text p {
  margin: 2vh 0vh 0.8vh;
  display: inline-block;
  line-height: 2.5vh;
}

#section2-a {
  background-color: #000000;
  color: white;
  padding: 7.5px 14px;
  font-weight: 600;
}

section:nth-child(3) {
  margin-bottom: 6vh;
  width: 100%;
}
@media screen and (max-width: 1399px) {
  section:nth-child(3) {
    margin-bottom: 8vh;
  }
}

section:nth-child(3) ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

section:nth-child(3) ul li {
  list-style-type: none;
  text-align: center;
  margin: 1.3vw;
}

@media screen and (max-width: 1400px) {
  section:nth-child(3) ul li {
    margin: 1.6vw;
  }
}

@media screen and (max-width: 1080px) {
  section:nth-child(3) ul li {
    margin: 1vh 26px;
  }
}
@media screen and (max-width: 601px) {
  section:nth-child(3) ul li {
    flex: 1 1 150px;
  }
}

@media screen and (max-width: 859px) {
  section:nth-child(3) {
    margin-bottom: 2vh;
  }
  .section3-arrow-div {
    margin-bottom: unset;
  }
}

section:nth-child(3) ul li a {
  text-decoration: underline;
  font-weight: 600;
}

section:nth-child(3) ul li img {
  display: block;
  padding: 10px;
  margin: 0px auto;
}

section:nth-child(4) {
  padding: 0px 7.25%;
  width: 100%;
}

section:nth-child(4) .section4-oops {
  display: flex;
  flex-direction: row;
  max-width: 1600px;
}

.section4-oops div img {
  width: 19vw;
  margin: 0.125vw;
}

section:nth-child(4) .section4-oops > div {
  margin: 0px 0.5vw;
}
@media screen and (max-width: 1083px) {
  section:nth-child(4) .section4-oops > div {
    margin: 0vh 0.8vw 6.25vh;
  }
  .section4-oops div img {
    margin: 0.2vw;
  }
  #section4 .section4-oops div h4 {
    margin: 0.75vh 0vw 0.5vh 0.1vw;
  }
  #section4 .section4-oops div h2 {
    font-size: 1.3rem;
  }
  #section4 .section4-oops div p {
    margin-top: 1vh;
  }
}
@media screen and (max-width: 1083px) and (min-width: 934px) {
  section:nth-child(4) .section4-oops > div img {
    width: 46.5vw;
  }
}

@media screen and (max-width: 934px) and (min-width: 860px) {
  section:nth-child(4) .section4-oops > div {
    margin: 0vh 0.8vw 6.25vh;
  }
}
@media screen and (max-width: 859px) and (min-width: 540px) {
  section:nth-child(4) .section4-oops > div {
    margin: 0vh 5px 6.25vh;
  }
}

@media screen and (max-width: 934px) and (min-width: 681px) {
  section:nth-child(4) .section4-oops > div img {
    width: 45.8vw;
  }
}

@media screen and (max-width: 680px) and (min-width: 540px) {
  section:nth-child(4) .section4-oops > div img {
    width: 45vw;
  }
}


.section4-space {
  height: 4vh;
}

.section4-oops div h4 {
  background-color: #950c17;
  color: white;
  text-align: center;
  padding: 3px;
  margin: 0.75vh 0vw 0.2vh 0.1vw;
  width: 72px;
}

.section4-oops div h2 {
  font-size: 1.8rem;
  font-weight: 600;
}

.section4-oops div p {
  margin-top: 1.5vh;
  margin-bottom: 2.2vh;
}

.section4-oops div img {
  width: 19.925vw;
}

.section4-oops-a {
  color: #950c17;
  font-weight: 600;
}

.section4-oops-a-mr {
  margin-right: 1vw;
}

#section5-bg {
  position: relative;
  padding: 10vh 8vw;
}

#section5-bg img {
  max-width: 1600px;
  width: 100%;
  display: none;
}

#section5-bg div {
  position: absolute;
  width: 30vw;
  top: 40%;
  left: 13vw;
}

#section5-bg div h2 {
  font-size: 2.3rem;
  font-weight: 600;
  margin-bottom: 2vh;
}

#section5-bg div p {
  margin-bottom: 3vh;
  line-height: 2.5vh;
}

#section5-bg div #section5-knowmore {
  background-color: #000000;
  color: white;
  padding: 9px 13px;
  display: inline;
  font-weight: 600;
  border-radius: 0.125rem;
}

section:nth-child(6) {
  max-width: 1600px;
  position: relative;
  padding: 0 7.25vw;
}

section:nth-child(6) div h2 {
  font-size: 2.3rem;
  margin-bottom: 2vh;
  padding-left: 0.6vw;
}

section:nth-child(6) .section6-set {
  display: flex;
  max-width: 1600px;
}

section:nth-child(6) .section6-set div {
  margin: 0vh 0.65vw;
}

section:nth-child(6) div a h4 {
  background-color: #950c17;
  color: white;
  text-align: center;
  padding: 3px;
  margin-top: 1.4vh;
  width: 72px;
}

section:nth-child(6) div a h3 {
  font-size: 1.8rem;
  font-weight: 600;
  margin-bottom: 2vh;
}

section:nth-child(6) div a p {
  margin-bottom: 3vh;
}

.section6-set img {
  width: 19.85vw;
}

section:nth-child(6) .section6-change-col {
  color: #950c17;
  font-weight: 600;
}

.section6-oops-2 {
  height: 4.25vh;
}

section:nth-child(7) {
  margin: 4.5vh 0vw 8vh 8vw;
}

section:nth-child(7) button {
  padding: 10px 15px;
  font-size: 1rem;
  font-weight: 600;
  text-align: center;
  background-color: lightgray;
  border: none;
  right: 0.8vw;
  bottom: 4vh;
  position: fixed;
  display: none;
}

section:nth-child(7) button:hover {
  background-color: #fff;
  box-shadow: 0 0.125rem 0.25rem 0 rgb(0 0 0 / 13%),
    0 0 0.0625rem 0 rgb(0 0 0 / 11%);
  cursor: pointer;
}

section:nth-child(7) p {
  display: inline;
}

section:nth-child(7) ul {
  display: inline;
}

section:nth-child(7) li {
  display: inline;
  margin: 0vh 0.5vw;
}

section:nth-child(7) img {
  width: 32px;
}

section:nth-child(8) {
  background-color: #f2f2f2;
}

section:nth-child(8) .section8-footer {
  width: 80%;
  margin: 2vh 4vw;
  display: flex;
}

.section8-footer div {
  margin: 1vh 3.5vw;
  color: #616161;
}

.section8-footer div ul {
  list-style-type: none;
  width: 7vw;
}

.section8-footer div ul li {
  font-size: 0.7rem;
  margin-top: 1.5vh;
}

.section8-footer div ul li h4 {
  font-size: 0.9rem;
  font-weight: 600;
}

section:nth-child(9) {
  background-color: #f2f2f2;
  padding: 1vh 6vw 2vh 9vw;
  display: flex;
}

section:nth-child(9) #section9-lang {
  font-size: 0.7rem;
  width: 53vw;
}

#section9-lang a {
  color: #616161;
}

#section9-lang img {
  width: 20px;
}

#super-footer a {
  color: #616161;
  font-size: 0.5rem;
  margin-right: 1vw;
}

#super-footer p {
  display: inline;
  font-size: 0.5rem;
}

/* 圖片設定 */
#section1_logo {
  width: 108px;
  margin: 1rem 1.8vw 1.25rem 2vw;
}

/* 細微特效設定 */
.a-underline:hover {
  text-decoration: underline;
  text-decoration-thickness: 3px;
}

.a-underline-thick:hover {
  text-decoration: underline;
  margin-right: 5px;
}

a {
  cursor: pointer;
}
